@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');



* {
	box-sizing: border-box;
	font-family: 'Philosopher', sans-serif;
}

html, body {padding:0; margin:0;height: 100%;}

body {
	background-image: url(image/bg_body2.png);
	height: 100%;


}

header {
	background-image: url(image/bghead.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
	max-width: 100%;
	border-top: 3px solid orange;
	margin: 0px auto;

}

.main_box {
	position: relative;
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.logo1 {
	display: flex;
	width: 100px;
	height: 200px;
	margin: 0 auto;
	justify-content:center ;
	align-items: center;

}

.logo {

	width: 150px;
	height: 150px;


}

.soc_main {
	display: flex;
	position: absolute;
	width: 100px;
	right: 50px;
	top: 15px;
	justify-content: space-between;
}

.soc1 { 
	width: 25px;
	height: 25px;
}

.twitter {
	transform: rotate(30deg);
}








.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  background: url(image/bg.png);
	min-height: 91vh;


 
}
.content {
	flex: 1 1 auto;
}
nav {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	font-size: 20px ;
	text-align: center;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	background: red;
	height: 55px;
	align-items: center;
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;;
}


.menu {
		text-decoration: none;
		color: white;
		width: 270px;
		font-size: 26px;
}

.menu:hover {
	color: gold;
	transition: all .5s;
}



/*контент*/

.akcii_text {
	position: relative;
	display: flex;
	max-width: 1300px;
	height:90px ;
	justify-content: center;
	background: #f8f7ff;
	top: 10px;
	margin: 0 auto;
}


.title {
	position: absolute;
	font-size: 56px;
	color: #b98d4b;
	vertical-align: middle;
	top: -25px;
}

.photo {
	display: flex;
	position: absolute;
		width: 500px;
		height: 500px;
		border-radius: 10px;
	/*	overflow: hidden;*/
		justify-content: center;
		align-items: center;
}
.akcii_photo {
	width: 500px;
	height: 500px;
	transform: scale(0.8);
	margin-top: -30px;
	border-radius: 50px;
		box-shadow: 0 1px 14px #ccc;


}

.akcii {
	position: relative;
	display: flex;
	max-width: 1300px;
	min-height: 1500px;
	margin: 0 auto;
	margin-top: 50px;
	flex-wrap: wrap;

}



.page_akcii {
	position: absolute;
	display: flex;
	left: 0px;
	width:498px ;
	height: 150px;
	top: 450px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0 1px 14px #ccc;
}

.text {
	width: 300px;
}

.akc1 {
	display: flex;
	position: absolute;
	top: 25px;
	width: 500px;
	height: 700px;
	margin: 0 auo;
	left: 50px;
	border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;

}
.akc2 {
	display: flex;
	position: absolute;
	top: 25px;
	width: 500px;
	height: 700px;
	margin: 0 auo;
	right: 50px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
}
.akc3 {
	display: flex;
	position: absolute;
	top: 500px;
	width: 500px;
	height: 700px;
	margin: 0 auo;
	left: 50px;
		margin-top: 250px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
}
.akc4 {
	display: flex;
	position: absolute;
	top: 500px;
	width: 500px;
	height: 700px;
	margin: 0 auo;
	right: 50px;
		margin-top: 250px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
}


/*футер*/

footer	{
	height: 360px;
	max-width: 100%;
	background: #e99f86;
	display: flex;
	margin: 0 auto;

	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
max-width: 1300px;

flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 500px;
flex: 0 1 50%;
height: 360px;
max-width: 1300px;


}
.foot_item {
	padding: 16px;
height: 270px;

}
.foot_content {
	position: relative;
	height: 360px;
	margin: 0 auto;
	max-width: 1300px;
}

.logo2	{
	position: absolute;
	width: 200px;
	height: 200px;
	right: 100px;
	top: 50px;
}

.logo_foot {
	width: 200px;
	height: 200px;
	
}

.soc_footer {
	position: absolute;
	width: 30px;
	height: 100px;
	right: 50px;
	top: 66px;
}

.soc2 {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	
}

.inst {
}

.facebook {
	margin-bottom: 10px;
	height: 25px;
	width: 30px;
}

.twitter2 {
	width: 25px;
	height: 25px;
	margin-bottom: 10px;
}

.facebook:hover {
	 transform: scale(1.1);
	 cursor: pointer;

}
.inst:hover {
	 transform: scale(1.1);
	 cursor: pointer;
}
.twitter2:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.twitter:hover {
	cursor: pointer;
	transform: rotate(30deg);
	transform: scale(1.1);
}

.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: 66px;
	font-size: 33px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 80px;
	top: 248px;
	font-size: 14px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}


.cop {
	position: absolute;
	color: white;
	top: 248px;
	right: 115px;
}
@media (max-width: 1300px){
	.wrapper{
		max-width: 970px;
		margin: 0 auto;
		min-height: 3000px ;
	}

.content {
}

.akcii {
	display: flex;
	max-width: 1300px;
	min-height: 3000px;
	margin: 0 auto;
	justify-content: center;

}

.akc1 {
	position: static;
	display: flex;
	top: 25px;
	width: 500px;
	height: 700px;
	border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
	margin-top: 25px;

}
.akc2 {
		position: static;
	display: flex;
	top: 875px;
	width: 500px;
	height: 700px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
	margin-top: 25px;
}
.akc3 {
		position: static;
	display: flex;

	width: 500px;
	height: 700px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
	margin-top: 25px;
}
.akc4 {
		position: static;
	display: flex;
		width: 500px;
	height: 700px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
	margin-top: 25px;
}

.page_akcii {
	position: static;
	display: flex;
	width:498px ;
	height: 150px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-top: 450px;
	text-align: center;
	box-shadow: 0 1px 14px #ccc;
}

.text {
	width: 300px;
}

.info_text {

	width: 550px;
	font-size: 24px ;
	margin: 0 auto;
}


footer	{
	height: 360px;
	max-width: 1300px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
max-width: 992px;
flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 100px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 270px;

}
.foot_content {
	position: relative;
	height: 360px;
	margin: 0 auto;
}

.logo2	{
	position: absolute;
	width: 200px;
	height: 200px;
	right: 100px;
	top: 50px;
}

.logo_foot {
	width: 200px;
	height: 200px;
	
}

.inst {
}

.facebook {
	margin-bottom: 10px;
	height: 25px;
	width: 30px;
}

.twitter2 {
	width: 25px;
	height: 25px;
	margin-bottom: 10px;
}

.facebook:hover {
	 transform: scale(1.1);
	 cursor: pointer;

}
.inst:hover {
	 transform: scale(1.1);
	 cursor: pointer;
}
.twitter2:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.twitter:hover {
	cursor: pointer;
	transform: rotate(30deg);
	transform: scale(1.1);
}

.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: 66px;
	font-size: 33px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 80px;
	top: 248px;
	font-size: 14px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}



}
@media (max-width: 992px){
	.wrapper{
		max-width: 770px;
			margin: 0 auto;
	}
	.preview_img {
	max-width: 500px;
	max-height: 350px;
	border: 5px solid #2b6ca3;
	align-items: center;
	margin: 50px auto;
}
footer	{
	height: 360px;
	max-width: 992px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;

	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
max-width: 770px;

flex-wrap: wrap;
justify-content: center;
}


}
@media (max-width: 768px){
	.wrapper{
		max-width: 720px;
			margin: 0 auto;
	}
	.title {
		font-size: 16px;
		text-align: center;
	}
	.menu {
		text-decoration: none;
		color: white;
		width: 270px;
		font-size: 18px;
}
.preview_img {
	max-width: 450px;
	max-height: 300px;
	border: 5px solid #2b6ca3;
	align-items: center;
	margin: 50px auto;
}

.akcii {
	margin-top: 25px;

}

.gallery {
	position: relative;
	display: flex;
	height:90px ;
	justify-content: center;
	background: #f8f7ff;
	margin: 0 auto;


}

.title {
	position: absolute;
	font-size: 56px;
	color: #b98d4b;
	vertical-align: middle;
	top: -25px;
}

.gallery_main {
	position: relative;
	display: flex;
	max-height: 600px;
	max-width: 1250px;
	margin: 0 auto;
}

.slider {
	max-width: 700px;
	max-height: 450px;
	overflow: hidden;
	border-radius: 35px;
	border: 10px solid #2b6ca3;;
	
}



footer	{
	max-height: 100px;
	max-width: 992px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
max-width: 720px;
height: 250px;
flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 250px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 250px;

}
.foot_content {
	position: relative;
	height: 250px;
	margin: 0 auto;
}
.logo2	{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 100px;
	top: 20px;
}

.logo_foot {
	width: 50px;
	height: 50px;
	
}

.soc_footer {
display: none;

}





.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: -25px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 200px;
	top: 5px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}


.cop {
	position: absolute;
	color: white;
	top: 248px;
	right: 115px;
}
@media (max-width: 506px){

	header {
		min-width: 485px;
	}
	.wrapper{
		min-width: 485px;
		margin: 0 auto;
		min-height: 3000px ;
	}

	.akcii {
		justify-content: center;
	}
.akc1 {
	position: static;
	display: flex;
		width: 450px;
	height: 675px;
	border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
	margin-top: 25px;
	justify-content: center;
}
.akc2 {
		position: static;
	display: flex;
	top: 875px;
		width: 450px;
	height: 675px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
	margin-top: 25px;
	justify-content: center;
}
.akc3 {
		position: static;
	display: flex;
justify-content: center;
		width: 450px;
	height: 675px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
	margin-top: 25px;
}
.akc4 {
		position: static;
	display: flex;
		width: 450px;
	height: 675px;
		border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 1px 14px #ccc;
	margin-top: 25px;
	justify-content: center;
}
.akcii_photo {
	display: flex;
	width: 400px;
	height: 400px;
	transform: scale(0.8);
	margin-top: -30px;
	border-radius: 50px;
		box-shadow: 0 1px 14px #ccc;
	justify-content: center;


}
footer	{
	max-height: 100px;
	min-width: 485px;}

	.title {

	font-size: 34px;	
}

.akcii_text {
	height: 50px;
}
}
@media (max-width: 460px) {
	.wrapper{
		min-width: 1000px;
		margin: 0 auto;
	}
	.menu {
		text-decoration: none;
		color: white;
		min-width: 250px;
		font-size: 16px;
}
.preview_img {
	max-width: 300px;
	max-height: 200px;
	border: 5px solid #2b6ca3;
	align-items: center;
	margin: 50px auto;
}

.info_text {

	width: 550px;
	font-size: 20px ;
	margin: 0 auto;
}

footer	{
	max-height: 100px;
	min-width: 1000px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
min-width: 470px;
height: 250px;
flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 250px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 250px;

}
.foot_content {
	position: relative;
	height: 250px;
	margin: 0 auto;
}
.logo2	{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 100px;
	top: 20px;
}

.logo_foot {
	width: 50px;
	height: 50px;
	
}

.soc_footer {
display: none;

}



.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: -25px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 200px;
	top: 5px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}




header {
	background-image: url(image/bghead.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
	min-width: 1000px;
	border-top: 3px solid orange;
	margin: 0px auto;
	

}

}


@media (max-width: 320px){
body {
	max-height:320px ;
}
.wrapper{
		max-width: 320px;
		margin: 0 auto;
	}
	.preview_img {
	max-width: 200px;
	max-height: 100px;
	border: 5px solid #2b6ca3;
	align-items: center;
	margin: 50px auto;
}
footer {
	min-width: 400px;
	}
}
