@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');



* {
	box-sizing: border-box;
	font-family: 'Philosopher', sans-serif;
}

html, body {padding:0; margin:0;height: 100%;}

body {
	background-image: url(image/bg_body2.png);
	height: 100%;


}

header {
	background-image: url(image/bghead.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
	max-width: 100%;
	border-top: 3px solid orange;
	margin: 0px auto;

}

.main_box {
	position: relative;
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.logo1 {
	display: flex;
	width: 100px;
	height: 200px;
	margin: 0 auto;
	justify-content:center ;
	align-items: center;

}

.logo {

	width: 150px;
	height: 150px;


}

.soc_main {
	display: flex;
	position: absolute;
	width: 100px;
	right: 50px;
	top: 15px;
	justify-content: space-between;
}

.soc1 { 
	width: 25px;
	height: 25px;
}

.twitter {
	transform: rotate(30deg);
}

nav {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	font-size: 20px ;
	text-align: center;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	background: red;
	height: 55px;
	align-items: center;
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;;
}


.menu {
		text-decoration: none;
		color: white;
		width: 270px;
		font-size: 26px;
}

.menu:hover {
	color: gold;
	transition: all .5s;
}






.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1300px;
  margin: 0px auto;
  background: url(image/bg.png);
	min-height: 91vh;
	overflow: hidden;

 
}
.content {
	height: 1100px;
}

.menu_text {
	position: relative;
	display: flex;
	height:90px ;
	justify-content: center;
	background: #f8f7ff;
	margin: 0 auto;

}
.info {
	display: flex;
	position: relative;
	max-width: 1300px;
	height: 800px;
	justify-content: space-between;
	margin-top: 50px;
}
.yandexcart {
	position: absolute;
	right: 70px;
	border: 2px solid red;
	top: 130px;
}

.rejim {
position: absolute;
width: 500px;
left: 70px;
top: 80px;
font-size: 35px;
line-height: 1.5;
}

.delivery {
position: absolute;
width: 500px;
left: 70px;
font-size: 35px;
top: 260px;
line-height: 1.5;
}

.info_adress {
position: absolute;
width: 500px;
left: 70px;
font-size: 24px;
line-height: 1.5;
top: 470px;
}

.info_contacts {
position: absolute;
width: 500px;
left: 70px;
font-size: 24px;
line-height: 1.5;
top: 550px;
}

/*футер*/
.info_text {
	position: relative;
	display: flex;
	max-width: 1300px;
	height:90px ;
	justify-content: center;
	background: #f8f7ff;
	top: 10px;
	margin: 0 auto;
}


.title {
	position: absolute;
	font-size: 56px;
	color: #b98d4b;
	vertical-align: middle;
	top: -25px;
}
footer	{
	height: 360px;
	width: 100%;
	background: #e99f86;
	display: flex;
}


.foot_content {
	position: relative;
	width: 1300px;
	height: 360px;
	margin: 0 auto;
}

.logo2	{
	position: absolute;
	width: 200px;
	height: 200px;
	right: 100px;
	top: 50px;
}

.logo_foot {
	width: 200px;
	height: 200px;
	
}

.soc_footer {
	position: absolute;
	width: 30px;
	height: 100px;
	right: 50px;
	top: 66px;
}

.soc2 {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	transition: 0.8;
	
}





.facebook {
	margin-bottom: 10px;
	height: 25px;
	width: 30px;
}

.twitter2 {
	width: 25px;
	height: 25px;
	margin-bottom: 10px;
}

.facebook:hover {
	 transform: scale(1.1);
	 cursor: pointer;

}
.inst:hover {
	 transform: scale(1.1);
	 cursor: pointer;
}
.twitter2:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.twitter:hover {
	cursor: pointer;
	transform: rotate(30deg);
	transform: scale(1.1);
}


.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 100px;
	top: 66px;
	font-size: 33px;
	color: white;
	justify-content: center;
	align-items: center;

}

.contact {
	display: flex;
	position: absolute;
	left: 100px;
	top: 248px;
	font-size: 14px;
	color: white;
	justify-content: center;
	align-items: center;
}


.cop {
	position: absolute;
	color: white;
	right: 0px;
	top: 248px;
	right: 115px;
}

@media (max-width: 1300px){
	.wrapper{
		max-width: 970px;
		margin: 0 auto;
	}

.content {
}

.title {
	max-width: 970px;
	text-align: center;
}
.text {
	width: 300px;
}

.info_text {

	font-size: 24px ;
	margin: 0 auto;
}

.info {
	display: flex;
	max-width: 970px;
	height: 800px;
	justify-content: center;
	margin-top: 50px;
	flex-wrap: wrap;

}



.yandexcart {
position: static;
border: 4px solid red;
width: 700px;
height: 600px;
justify-content: center;



}

.rejim {
position: static;
width: 450px;
left: 70px;
top: 80px;
font-size: 35px;
line-height: 1.5;
margin-left: 70px;
}

.delivery {
position: static;
width:450px;
left: 70px;
font-size: 35px;
top: 260px;
line-height: 1.5;
}

.info_adress {
position: static;
width: 450px;
left: 70px;
font-size: 24px;
line-height: 1.5;
top: 470px;
margin-left: 70px;
}

iframe {
	max-width: 691px;
	max-height: 590px;
}

.info_contacts {
position: static;
width: 450px;
left: 70px;
font-size: 24px;
line-height: 1.5;
top: 550px;
}
.info_text {
	position: relative;
	display: flex;
	max-width: 970px;
	height:90px ;
	justify-content: center;
	background: #f8f7ff;
	top: 10px;
	margin: 0 auto;
}



footer	{
	height: 360px;
	max-width: 1300px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
max-width: 992px;
flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 100px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 270px;

}
.foot_content {
	position: relative;
	height: 360px;
	margin: 0 auto;
}

.logo2	{
	position: absolute;
	width: 200px;
	height: 200px;
	right: 100px;
	top: 50px;
}

.logo_foot {
	width: 200px;
	height: 200px;
	
}

.inst {
}

.facebook {
	margin-bottom: 10px;
	height: 25px;
	width: 30px;
}

.twitter2 {
	width: 25px;
	height: 25px;
	margin-bottom: 10px;
}

.facebook:hover {
	 transform: scale(1.1);
	 cursor: pointer;

}
.inst:hover {
	 transform: scale(1.1);
	 cursor: pointer;
}
.twitter2:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.twitter:hover {
	cursor: pointer;
	transform: rotate(30deg);
	transform: scale(1.1);
}

.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: 66px;
	font-size: 33px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 80px;
	top: 248px;
	font-size: 14px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}



}
@media (max-width: 992px){
	.wrapper{
		max-width: 770px;
			margin: 0 auto;
	}

	.title {
	max-width: 970px;
	text-align: center;
}
.info {
	display: flex;
	max-width: 770px;
	height: 800px;
	justify-content: center;
	margin-top: 50px;
	flex-wrap: wrap;

}



.yandexcart {
position: static;
border: 4px solid red;
width: 700px;
height: 600px;
justify-content: center;



}

.rejim {
position: static;
width: 450px;
left: 70px;
top: 80px;
font-size: 35px;
line-height: 1.5;

}

.delivery {
position: static;
width:450px;
left: 70px;
font-size: 35px;
top: 260px;
line-height: 1.5;
margin-left: 70px;
}

.info_adress {
position: static;
width: 450px;
left: 70px;
font-size: 24px;
line-height: 1.5;
top: 470px;

}

iframe {
	max-width: 691px;
	max-height: 590px;
}

.info_contacts {
position: static;
width: 450px;
left: 70px;
font-size: 24px;
line-height: 1.5;
top: 550px;
margin-left: 70px;
}
.info_text {
	position: relative;
	display: flex;
	max-width: 770px;
	height:90px ;
	justify-content: center;
	background: #f8f7ff;
	top: 10px;
	margin: 0 auto;
}

footer	{
	height: 360px;
	max-width: 992px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;

	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
max-width: 770px;

flex-wrap: wrap;
justify-content: center;
}


}
@media (max-width: 768px){
	.wrapper{
		max-width: 720px;
			margin: 0 auto;
	}
	.title {
		font-size: 16px;
		text-align: center;
	}
	.menu {
		text-decoration: none;
		color: white;
		width: 270px;
		font-size: 18px;
}

.content {
	max-width: 720px;
}

.info {
	display: flex;
	max-width: 720px;
	height: 800px;
	justify-content: center;
	margin-top: 50px;
	flex-wrap: wrap;

}



.yandexcart {
position: static;
border: 4px solid red;
max-width: 500px;
height: 400px;
justify-content: center;



}

.rejim {
position: static;
max-width: 450px;
left: 70px;
top: 80px;
font-size: 35px;
line-height: 1.5;

}

.delivery {
position: static;
max-width:450px;
left: 70px;
font-size: 35px;
top: 260px;
line-height: 1.5;
margin-left: 70px;
}

.info_adress {
position: static;
max-width: 450px;
left: 70px;
font-size: 24px;
line-height: 1.5;
top: 470px;

}

iframe {
	max-width: 491px;
	max-height: 390px;
}

.info_contacts {
position: static;
max-width: 450px;
left: 70px;
font-size: 24px;
line-height: 1.5;
top: 550px;
margin-left: 70px;
}
.info_text {
	position: relative;
	display: flex;
	max-width: 720px;
	height:90px ;
	justify-content: center;
	background: #f8f7ff;
	top: 10px;
	margin: 0 auto;
}

.title {
	position: absolute;
	font-size: 56px;
	color: #b98d4b;
	vertical-align: middle;
	top: -25px;
}





footer	{
	max-height: 100px;
	max-width: 992px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
max-width: 720px;
height: 250px;
flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 250px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 250px;

}
.foot_content {
	position: relative;
	height: 250px;
	margin: 0 auto;
}
.logo2	{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 100px;
	top: 20px;
}

.logo_foot {
	width: 50px;
	height: 50px;
	
}

.soc_footer {
display: none;

}





.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: -25px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 200px;
	top: 5px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}


.cop {
	position: absolute;
	color: white;
	top: 248px;
	right: 115px;
}
@media (max-width: 506px){

	header {
		min-width: 485px;
	}
	.wrapper{
		min-width: 485px;
		margin: 0 auto;
	}


footer	{
	max-height: 100px;
	min-width: 485px;}

	.title {

	font-size: 34px;	
}

.akcii_text {
	height: 50px;
}
}
@media (max-width: 460px) {
	.wrapper{
		min-width: 1000px;
		margin: 0 auto;
	}
	.menu {
		text-decoration: none;
		color: white;
		min-width: 250px;
		font-size: 16px;
}




footer	{
	max-height: 100px;
	min-width: 1000px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
min-width: 470px;
height: 250px;
flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 250px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 250px;

}
.foot_content {
	position: relative;
	height: 250px;
	margin: 0 auto;
}
.logo2	{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 100px;
	top: 20px;
}

.logo_foot {
	width: 50px;
	height: 50px;
	
}

.soc_footer {
display: none;

}



.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: -25px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 200px;
	top: 5px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}

.content {
	max-width: 1000px;
}
.info_text {
	max-width: 1000px;
}

.info {
	display: flex;
	max-width: 1000px;
	height: 800px;
	justify-content: center;
	margin-top: 50px;
	flex-wrap: wrap;

}

header {
	background-image: url(image/bghead.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
	min-width: 1000px;
	border-top: 3px solid orange;
	margin: 0px auto;
	

}

}


@media (max-width: 320px){
body {
	max-height:320px ;
}
.wrapper{
		max-width: 320px;
		margin: 0 auto;
	}

footer {
	min-width: 400px;
	}
}
