@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');



* {
	box-sizing: border-box;
	font-family: 'Philosopher', sans-serif;
}

html, body {padding:0; margin:0;height: 100%;}

body {
	background-image: url(image/bg_body2.png);
	height: 100%;


}

header {
	background-image: url(image/bghead.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
	max-width: 100%;
	border-top: 3px solid orange;
	margin: 0px auto;

}

.main_box {
	position: relative;
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.logo1 {
	display: flex;
	width: 100px;
	height: 200px;
	margin: 0 auto;
	justify-content:center ;
	align-items: center;

}

.logo {

	width: 150px;
	height: 150px;


}

.soc_main {
	display: flex;
	position: absolute;
	width: 100px;
	right: 50px;
	top: 15px;
	justify-content: space-between;
}

.soc1 { 
	width: 25px;
	height: 25px;
}

.twitter {
	transform: rotate(30deg);
}

nav {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	font-size: 20px ;
	text-align: center;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	background: red;
	height: 55px;
	align-items: center;
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;;
}

.menu {
		text-decoration: none;
		color: white;
		width: 270px;
		font-size: 26px;
}

.menu:hover {
	color: gold;
	transition: all .5s;
}






.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1300px;
  margin: 0px auto;
  background: url(image/bg.png);
	min-height: 91vh;
	overflow: hidden;

 
}
.content {
	height: 1100px;
}

.menu_text {
	position: relative;
	display: flex;
	height:90px ;
	justify-content: center;
	background: #f8f7ff;
	margin: 0 auto;

}

.title {
	position: absolute;
	font-size: 56px;
	color: #b98d4b;
	vertical-align: middle;
	top: -25px;
}

.menu_block {
	position: relative;
	max-width: 1300px;
	height: 900px;
	display: flex;
	margin: 0 auto;

}

.menu_chapter {
	display: flex;
	border-radius: 50%;
	width: 300px;
	height:200px ;

}

.menu_photo {
position: absolute;
border: 3px solid red;
}



/*поке*/




/*поке*/
.poke {
	position: relative;
	left: 500px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}

.chapter_poke {
	position: absolute;
	display: flex;
	left: 0px;
	width:300px ;
	height: 35px;
	top: 135px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.poke_text {
	transition: all 0.2s ease;
}

.poke:hover {

}

.menu_chapter {
	position: absolute;
	right: -1px;
	bottom: 1px;
	transition:all 0.5s ease;
}

.poke:hover p {
	border-bottom: 2px solid red;
	color: red;
}

.menu_photo {
	height: 200px;
	width: 300px;
	transition: all 0.5s ease;
	overflow: hidden;
	border-radius: 50%;
}

.menu_photo:hover .menu_chapter{
	transform: scale(1.2);
}
.menu_photo:hover .chapter_poke{
	transform: scale(1.2);
}



/*ХОЛОД*/
.holod {
	position: absolute;
	top: 200px;
	left: 150px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}

.chapter_holod {
	position: absolute;
	display: flex;
	left: 0px;
	width:300px ;
	height: 35px;
	top: 135px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.holod_text {
	transition: all 0.2s ease;
}

.holod:hover p {
	border-bottom: 2px solid red;
	color: red;
}

.menu_photo:hover .chapter_holod{
	transform: scale(1.2);
}

/*ТЕПЛЫЕ*/
.tepl {
	display:flex;
	position: absolute;
	top: 440px;
	left: 150px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}

.chapter_tepl {
	position: absolute;
	display: flex;
	left: 0px;
	width:300px ;
	height: 35px;
	top: 135px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.tepl_text {
	transition: all 0.2s ease;
}

.tepl:hover p {
	border-bottom: 2px solid red;
	color: red;
}

.menu_photo:hover .chapter_tepl{
	transform: scale(1.2);
}

/*СУПЫ*/
.sypi {
	display: flex;
	position: absolute;
	top: 200px;
	right: 150px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}

.chapter_sypi {
	position: absolute;
	display: flex;
	left: 0px;
	width:300px ;
	height: 35px;
	top: 135px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.sypi_text {
	transition: all 0.2s ease;
}

.sypi:hover p {
	border-bottom: 2px solid red;
	color: red;
}

.menu_photo:hover .chapter_sypi{
	transform: scale(1.2);
}

/*ГОРЯЧЕЕ*/
.goryach {
	position: absolute;
	top: 440px;
	right: 150px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}

.chapter_goryach {
	position: absolute;
	display: flex;
	left: 0px;
	width:300px ;
	height: 35px;
	top: 135px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.goryach_text {
	transition: all 0.2s ease;
}

.goryach:hover p {
	border-bottom: 2px solid red;
	color: red;
}

.menu_photo:hover .chapter_goryach{
	transform: scale(1.2);
}

/*САЛАТЫ*/
.salat {
	position: absolute;
	top: 640px;
	left: 500px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}

.chapter_salat {
	position: absolute;
	display: flex;
	left: 0px;
	width:300px ;
	height: 35px;
	top: 135px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}



.salat_text {
	transition: all 0.2s ease;
}

.salat:hover p {
	border-bottom: 2px solid red;
	color: red;
}

.menu_photo:hover .chapter_salat{
	transform: scale(1.2);
}

/*ДЕСЕРТЫ*/
.desert {
	position: absolute;
	top: 317px;
	left: 500px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}

.chapter_desert {
	position: absolute;
	display: flex;
	left: 0px;
	width:300px ;
	height: 35px;
	top: 135px;
	background: gold;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.desert_text {
	transition: all 0.2s ease;
}

.desert:hover p {
	border-bottom: 2px solid red;
	color: red;
}

.menu_photo:hover .chapter_desert{
	transform: scale(1.2);
}
/*футер*/
footer	{
	height: 360px;
	width: 100%;
	background: #e99f86;
	display: flex;
}


.foot_content {
	position: relative;
	width: 1300px;
	height: 360px;
	margin: 0 auto;
}

.logo2	{
	position: absolute;
	width: 200px;
	height: 200px;
	right: 100px;
	top: 50px;
}

.logo_foot {
	width: 200px;
	height: 200px;
	
}

.soc_footer {
	position: absolute;
	width: 30px;
	height: 100px;
	right: 50px;
	top: 66px;
}

.soc2 {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	transition: 0.8;
	
}





.facebook {
	margin-bottom: 10px;
	height: 25px;
	width: 30px;
}

.twitter2 {
	width: 25px;
	height: 25px;
	margin-bottom: 10px;
}

.facebook:hover {
	 transform: scale(1.1);
	 cursor: pointer;

}
.inst:hover {
	 transform: scale(1.1);
	 cursor: pointer;
}
.twitter2:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.twitter:hover {
	cursor: pointer;
	transform: rotate(30deg);
	transform: scale(1.1);
}


.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 100px;
	top: 66px;
	font-size: 33px;
	color: white;
	justify-content: center;
	align-items: center;

}

.contact {
	display: flex;
	position: absolute;
	left: 100px;
	top: 248px;
	font-size: 14px;
	color: white;
	justify-content: center;
	align-items: center;
}


.cop {
	position: absolute;
	color: white;
	right: 0px;
	top: 248px;
	right: 115px;
}

@media (max-width: 1300px){
	.wrapper{
		max-width: 970px;
	}



footer	{
	max-width: 1300px;
	margin: 0 auto;
}

.foot_body{
height: 360px;	
margin: 0px auto ;
max-width: 970px;
flex-wrap: wrap;

}

.foot_content{
	height: 360px;	
display: flex;
margin: 0px auto ;
max-width: 970px;
flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 100px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 270px;

}
.foot_content {
	position: relative;
	height: 360px;
	margin: 0 auto;
}

.logo2	{
	position: absolute;
	width: 200px;
	height: 200px;
	right: 100px;
	top: 50px;
}

.logo_foot {
	width: 200px;
	height: 200px;
	
}


.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: 66px;
	font-size: 33px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 80px;
	top: 248px;
	font-size: 14px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}

.menu_block {
	position: relative;
	max-width: 970px;
	height: 900px;
	display: flex;
	margin: 0 auto;
	margin-top: 50px;
}



.poke {
	position: relative;
	left: 125px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}
.holod {
	position: absolute;
	top: 220px;
	left: 125px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}
.tepl {
	display:flex;
	position: absolute;
	top: 420px;
	left: 125px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin-top: 20px;
}
.sypi {
	position: absolute;
	right: 125px;
	top: 0px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}
.goryach {
	position: absolute;
	top: 220px;
	right: 125px;
	background: cyan;
	height: 200px;
	overflow: hidden;
	border-radius: 70%;
	transition: 0.2s;
}
.salat {
	position: absolute;
	top: 420px;
	background: cyan;
	left: 550px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin-top: 20px;
}
.desert {
	position: absolute;
	top: 620px;
	left: 345px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
}

}
@media (max-width: 992px){
	.wrapper{
		max-width: 770px;
			margin: 0 auto;
			min-height: 3000px;
	}

	.content{
		min-height: 3000px;
	}

	.preview_img {
	max-width: 500px;
	max-height: 350px;
	border: 5px solid #2b6ca3;
	align-items: center;
	margin: 50px auto;
}
footer	{
	height: 360px;
	max-width: 992px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;

	overflow: hidden;
}

.foot_content{
display: flex;
margin: 0px auto ;
max-width: 770px;
flex-wrap: wrap;
justify-content: center;
min-height: 2750px;
}
.menu_block {
	position: relative;
	max-width: 770px;
	min-height: 2750px;
	display: flex;
	margin-top: 50px;
}

.menu_chapter {
	border-radius: 50%;
	width: 350px;
	height:350px ;

}

.poke {

	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	left: 210px;;
	top: 50px;
}
.holod {

		left: 210px;;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 450px;
}
.tepl {

	left: 210px;;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 850px;
}
.sypi {

	left: 130px;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 1250px;
}
.goryach {

		left: 130px;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 1650px;
}
.salat {

	
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
		left: 210px;
		top: 2050px;
}
.desert {
	
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
		left: 210px;
		top: 2450px;
}

.chapter_poke {
	position: absolute;
	display: flex;
	width:350px ;
	font-size: 30px;
height: 75px;
top: 225px;
}
.chapter_holod {
	position: absolute;
	display: flex;
		width:350px ;
	font-size: 30px;
height: 75px;
top: 225px;
}
.chapter_tepl {
	position: absolute;
	display: flex;
		width:350px ;
	font-size: 30px;
height: 75px;
top: 225px;
}

.chapter_sypi {
	position: absolute;
	display: flex;
		width:350px ;
	font-size: 30px;
height: 75px;
top: 225px;
}
.chapter_goryach {
	position: absolute;
	display: flex;
		width:350px ;
	font-size: 30px;
height: 75px;
top: 225px;
}
.chapter_salat {
	position: absolute;
	display: flex;
		width:350px ;
	font-size: 30px;
height: 75px;
top: 225px;
}
.chapter_desert {
	position: absolute;
	display: flex;
		width:350px ;
	font-size: 30px;
	top: 225px;
	height: 75px;
}

}
@media (max-width: 768px){
	.wrapper{
		max-width: 720px;
			margin: 0 auto;
	}
.menu {
		text-decoration: none;
		color: white;
		width: 270px;
		font-size: 18px;}

	.content {
		max-width: 720px;
	}
	.menu {
		text-decoration: none;
		color: white;
		width: 270px;
		font-size: 18px;
}



.title {
	position: absolute;
	font-size: 56px;
	color: #b98d4b;
	vertical-align: middle;
	top: -25px;
}


.menu_block {
	position: relative;
	max-width: 720px;
	min-height: 2750px;
	margin: 0 auto;
}

.menu_chapter {
	border-radius: 50%;
	width: 350px;
	height:350px ;
		margin: 0 auto;

}

.poke {
	position:absolute;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	top: 50px;
	margin: 0 auto;
}
.holod {
	position: absolute;
		left: 210px;;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 450px;
}
.tepl {
	display:flex;
	position: absolute;
	left: 210px;;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 850px;
}
.sypi {
	display: flex;
	position: absolute;
	left: 130px;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 1250px;
}
.goryach {
	position: absolute;
		left: 130px;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 1650px;
}
.salat {
	position: absolute;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
		left: 210px;
		top: 2050px;
}
.desert {
	position: absolute;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
		left: 210px;
		top: 2450px;
}

footer	{
	max-height: 100px;
	max-width: 992px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
max-width: 720px;
height: 250px;
flex-wrap: wrap;
justify-content: center;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 250px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 250px;

}
.foot_content {
	position: relative;
	height: 250px;
	margin: 0 auto;
}
.logo2	{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 100px;
	top: 20px;
}

.logo_foot {
	width: 50px;
	height: 50px;
	
}

.soc_footer {
display: none;

}





.time	{
	display: flex;
	height: 120px;
	position: absolute;
	left: 80px;
	top: -25px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	width: 297;
}

.contact {
	display: flex;
	position: absolute;
	left: 200px;
	top: 5px;
	font-size: 10px;
	color: white;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	width: 178px;
}


.cop {
	position: absolute;
	color: white;
	top: 248px;
	right: 115px;
}

@media (max-width: 460px) {
	.wrapper{
		min-width: 1000px;
		margin: 0 auto;
	}
	.menu {
		text-decoration: none;
		color: white;
		min-width: 250px;
		font-size: 16px;
}
.content {
		min-width: 1000px;
}
.preview_img {
	max-width: 250px;
	max-height: 150px;
	border: 5px solid #2b6ca3;
	align-items: center;
	margin: 50px auto;
}



.menu_block {
	position: relative;
	max-width: 720px;
	min-height: 2750px;
	margin: 0 auto;
}

.menu_chapter {
	border-radius: 50%;
	width: 350px;
	height:350px ;
		margin: 0 auto;

}

.poke {
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	top: 50px;
	margin: 0 auto;
	left: 185px;
}
.holod {
		left: 185px;;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 450px;
}
.tepl {
display: flex;
	left: 185px;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 850px;
}
.sypi {
display: flex;
	left: 130px;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 1250px;
}
.goryach {
display: flex;
		left: 130px;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
	top: 1650px;
}
.salat {
display: flex;
	background: cyan;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
		left: 185px;
		top: 2050px;
}
.desert {
	display: flex;
	height: 350px;
	width: 350px;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.2s;
	margin: 0 auto;
		left: 185px;
		top: 2450px;
}


.info_text {

	width: 550px;
	font-size: 20px ;
	margin: 0 auto;
}

footer	{
	max-height: 100px;
	min-width: 992px;
	background: #e99f86;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}

.foot_body{
display: flex;
margin: 0px ;
min-width: 470px;
height: 250px;
flex-wrap: wrap;
}

.foot_column {
padding: 0px 250px;
flex: 0 1 50%;
height: 250px;
max-width: 992px;


}
.foot_item {
	padding: 16px;
height: 250px;

}
.foot_content {
	position: relative;
	height: 250px;
	margin: 0 auto;
}
.logo2	{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 100px;
	top: 20px;
}

.logo_foot {
	width: 50px;
	height: 50px;
	
}

.soc_footer {
display: none;

}



.time	{
	height: 120px;
	left: 80px;
	top: -25px;
	font-size: 10px;
	width: 297;
}

.contact {

	left: 200px;
	top: 5px;
	font-size: 10px;
	width: 178px;
}




header {
	
	min-width: 1000px;
	border-top: 3px solid orange;
	margin: 0px auto;
	
}
}

@media (max-width: 320px){
body {
	max-height:320px ;
}
.wrapper{
		max-width: 320px;
		margin: 0 auto;
	}
	.preview_img {
	max-width: 200px;
	max-height: 100px;
	border: 5px solid #2b6ca3;
	align-items: center;
	margin: 50px auto;
}

	}
